button.btn {
  background: #69a9d6;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
  padding: 8px 4px;
  &.card {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &:hover {
    background: #73a9c8 !important;
    color: #fff;
  }
  &.secondary {
    background: #fff;
    color: #333;
    border: 1px solid #333;
  }
  &.cta {
    background: #326f9a;
    color: #fff;
  }
}
