@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.main__title {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10vh 0vw;
  height: 500px;
  max-height: 50svh;
  text-align: center;
  background: url('../public/tamanna-rumee_background.jpg');
  background-position: top center;
  background-size: cover;
  align-items: center;
}
.main__title h1 {
  font-size: 4rem;
}