@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.main__title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 12px;
  height: 400px;
  place-content: center;
  max-height: 50svh;
  text-align: center;
  background: url('../public/tamanna-rumee_background.jpg');
  background-position: top center;
  background-size: cover;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 3rem;
}
.main__title h1, .main__title span {
  color: #fff;
}


input[type="text"], input[type="email"] {
  padding: 4px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 120px;
  border: 1px solid #ccc;
}